.App {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #072227;
}
.MyNav {
  background-color: #35858B;
  align-items: left;
  justify-content:center;
  text-align: left;
  margin-bottom: 3%;
}

.MyCarousel {
  background-color: #a4b130;
  width: 100%;
  height: 300px;
}

.Mycard {
  display:flex;
  justify-content:center;
  margin-top: 3%; 
  margin-bottom: 5%;
}

.BestProduct {
  /* width: 100%; */
  margin-top: 3%; 
  display: inline-flex;
  
}

.Link {
  text-decoration: none;
  color: #4FBDBA;
  
}
.Link :hover .Button{
  background-color: #35858B;
  color: #072227;
}

.Button {
  background-color: transparent;
  border: none;
}

.Img {
   width: 20%;
}

.CardBody {
  background-color: #072227;
  color: #4FBDBA;
}